body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'K2D', sans-serif;
}

.items{
    display: flex;
    flex-wrap: wrap;
}

.items .item{
    flex: 1;
    flex-basis: 25%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 992px){
    .items .item{
        flex-basis: calc(100% / 3);
    }
}

@media screen and (max-width: 768px){
    .items .item{
        flex-basis: 50%;
    }
}

@media screen and (max-width: 600px){
    .items .item{
        height: 50vh;
    }
}

.items .color-layer{
    background-color: rgb(61, 139, 55);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
}

.items .image-layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    opacity: .8;
    transition: .8s;
}

.items .image-layer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.items .content-layer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    opacity: 0;
    position: relative;
    z-index: 2;
}

.items .content-layer .name{
    font-size: 1.75em;
    text-align: center;
    margin: 1em 0 0;
    color: white;
}

.items .content-layer .logo{
    width: 90%;
    max-width: 300px;
    height: 30%;
    object-fit: contain;
}

.items .item:hover{
    background-color: black !important;
}

.items .item:hover .content-layer{
    opacity: 1;
}

.items .item:hover .image-layer{
    opacity: .2;
}

.items .item:hover .color-layer{
    opacity: .2;
}

.items .item:hover .image-layer img{
    transform: scale(1.25);
}

/*
================================================================================================
Edit Page
================================================================================================
 */



/*
================================================================================================
404 Page
================================================================================================
 */
.page-404-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}