body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Niramit', sans-serif;
}

.items{
    display: flex;
    flex-wrap: wrap;
}

.items .item{
    flex: 1;
    flex-basis: 25%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 992px){
    .items .item{
        flex-basis: calc(100% / 3);
    }
}

@media screen and (max-width: 768px){
    .items .item{
        flex-basis: 50%;
    }
}

@media screen and (max-width: 600px){
    .items .item{
        height: 50vh;
    }
}

.items .color-layer{
    background-color: rgb(61, 139, 55);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
}

.items .image-layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    opacity: .8;
    transition: .8s;
}

.items .image-layer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.items .content-layer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    opacity: 0;
    position: relative;
    z-index: 2;
}

.items .content-layer .name{
    font-size: 1.75em;
    text-align: center;
    margin: 1em 0 0;
    color: white;
}

.items .content-layer .logo{
    width: 90%;
    max-width: 300px;
    height: 30%;
    object-fit: contain;
}

.items .item:hover{
    background-color: black !important;
}

.items .item:hover .content-layer{
    opacity: 1;
}

.items .item:hover .image-layer{
    opacity: .2;
}

.items .item:hover .color-layer{
    opacity: .2;
}

.items .item:hover .image-layer img{
    transform: scale(1.25);
}

/*
================================================================================================
Edit Page
================================================================================================
 */



/*
================================================================================================
Single Character
================================================================================================
 */
.single-character-div{
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 480px auto 50px;
    color: white;
}
.single-character-div .character-banner{
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    overflow: hidden;
}
.single-character-div .character-banner img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
}
.single-character-div .accent-break{
    position: absolute;
    top: 400px;
    left: 0;
    height: 0;
    width: 100%;
    border-bottom: 80px solid;
}
.single-character-div .layer{
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-color: rgba(0,0,0,.9);
    top: 480px;
    z-index: 0;
    position: absolute;
}
.single-character-div .image-container {
    position: relative;
    flex-basis: 180px;
}
.single-character-div .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: -80px;
    position: relative;
}
.single-character-div .detail-container{
    flex: 1;
    position: relative;
    margin-left: 40px;
    padding: 80px 0 15px;
    top: -80px;
}
.single-character-div .detail-container h1{
    margin: 10px 0 0;
    font-size: 2em;
    display: inline-block;
}
.single-character-div .detail-container .byline{
    float: right;
    margin: 10px 0;
    font-size: 1.2em;
}
.single-character-div .detail-container p{
    line-height: 1.6;
}
.single-character-div .detail-container .summary{
    font-size: 1.1em;
    margin: 5px 0 0;
}
.single-character-div .other-container {
    position: relative;
    margin-top: -40px;
}
.single-character-div .other-container p{
    line-height: 1.6;
    font-size: 1.2em;
    margin: 0 0 1em;
}

/*
================================================================================================
404 Page
================================================================================================
 */
.page-404-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}