body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Niramit', sans-serif;
}

.items{
    display: flex;
    flex-wrap: wrap;
}

.items .item{
    flex: 1;
    flex-basis: 25%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 992px){
    .items .item{
        flex-basis: calc(100% / 3);
    }
}

@media screen and (max-width: 768px){
    .items .item{
        flex-basis: 50%;
    }
}

@media screen and (max-width: 600px){
    .items .item{
        height: 50vh;
    }
}

.items .color-layer{
    background-color: rgb(61, 139, 55);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
}

.items .image-layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    opacity: .8;
    transition: .8s;
}

.items .image-layer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.items .content-layer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    opacity: 0;
    position: relative;
    z-index: 2;
}

.items .content-layer .name{
    font-size: 1.75em;
    text-align: center;
    margin: 1em 0 0;
    color: white;
}

.items .content-layer .logo{
    width: 90%;
    max-width: 300px;
    height: 30%;
    object-fit: contain;
}

.items .item:hover{
    background-color: black !important;
}

.items .item:hover .content-layer{
    opacity: 1;
}

.items .item:hover .image-layer{
    opacity: .2;
}

.items .item:hover .color-layer{
    opacity: .2;
}

.items .item:hover .image-layer img{
    transform: scale(1.25);
}

/*
================================================================================================
Edit Page
================================================================================================
 */
.edit{
    width: 90%;
    max-width: 1000px;
    display: block;
    margin: 40px auto 0;
}
.edit .add-new{
    font-size: 1em;
    float: right;
    margin-right: .5em;
    height: auto;
    padding: 0px 9.5px 6px;
    vertical-align: middle;
    background: transparent;
    border-radius: 50%;
    line-height: 1em;
    outline: 0;
    cursor: pointer;
}
.edit .character-item{
    position: relative;
    display: block;
    padding: 10px 0;
}
.edit .character-left{
    display: inline-block;
    font-size: 1.5em;
}
.edit .character-right{
    float: right;
}
.edit .character-right .edit-button, .edit .character-right .delete-button{
    font-size: 1em;
    background: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    outline: 0;
}
.edit .character-right .delete-button{
    margin-left: 10px;
}

/*
================================================================================================
Single Character
================================================================================================
 */
.main-container{
    position: relative;
}
.single-character-div{
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 480px auto 0;
    color: black;
    padding-bottom: 100px;
}
.single-character-div .character-banner{
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    overflow: hidden;
}
.single-character-div .character-banner img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
}
.single-character-div .accent-break{
    position: absolute;
    top: -80px;
    left: 0;
    height: 0;
    width: 100%;
    border-bottom: 80px solid;
    opacity: .85;
}
.single-character-div .layer{
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: rgba(255,255,255,.8);
    top: 0;
    z-index: 0;
    position: absolute;
}
.single-character-div .image-container {
    position: relative;
    flex-basis: 240px;
}
.single-character-div .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: -180px;
    position: relative;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px 5px #00000055;
}
.single-character-div .detail-container{
    flex: 1;
    position: relative;
    margin-left: 40px;
    padding: 80px 0 120px;
    top: -80px;
}
.single-character-div .detail-container h1{
    margin: 10px 0 0;
    font-size: 4em;
    display: inline-block;
    font-weight: 500;
}
.single-character-div .detail-container .byline{
    float: right;
    margin: 1.5em 0;
    font-size: 1.5em;
    font-weight: 900;
}
.single-character-div .detail-container p{
    line-height: 1.6;
}
.single-character-div .detail-container .summary{
    font-size: 1.1em;
    margin: 5px 0 0;
}
.single-character-div .other-container {
    position: relative;
    margin-top: -140px;
}
.single-character-div .other-container p{
    line-height: 1.6;
    font-size: 1.2em;
    margin: 0 0 1em;
}
.single-character-div .other-container .powers{
    line-height: 1.3;
    text-transform: capitalize;
}
.single-character-div .other-container .powers span{
    font-weight: 500;
}
.single-character-div .other-container .related-characters {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    width: 100%;
}
.single-character-div .other-container .related-characters .related-character-item {
    flex-basis: 155px;
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}
.single-character-div .other-container .related-characters .related-character-item a{
    text-decoration: none;
}
.single-character-div .other-container .related-characters .related-character-item img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 5px 2px #00000099;
}
.single-character-div .other-container .related-characters .related-character-item p{
    color: initial;
    text-decoration: none;
}
.single-character-div .other-container .related-characters > p{
    display: block;
    flex-basis: 100%;
    font-size: 1.5em;
    margin: 1em 0 .5em;
    font-weight: bold;
}

/*
================================================================================================
404 Page
================================================================================================
 */
.page-404-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}